{namespace one50=One50\Shop\ViewHelper}

<div class="table-responsive">
	<table class="table">
		<thead>
		<tr>
			<th>{f:translate(id: 'product')}</th>
			<th>{f:translate(id: 'quantity')}</th>
			<th>{f:translate(id: 'price.perItem')}</th>
			<th class="tableCell-align-right">{f:translate(id: 'price')}</th>
			<f:if condition="{allowItemRemoval}">
				<th></th>
			</f:if>
		</tr>
		</thead>
		<tbody>
		<f:for each="{cartItems}" as="item">
			<tr>
				<td>{item.product.title}</td>
				<td>{item.quantity}</td>
				<td>
					<f:format.currency decimalSeparator="." currencySign="CHF">{item.product.price}</f:format.currency>
				</td>
				<td class="tableCell-align-right">
					<f:format.currency decimalSeparator="." currencySign="CHF">
						<one50:totalItemPrice item="{item}"/>
					</f:format.currency>
				</td>
				<f:if condition="{allowItemRemoval}">
					<td class="tableCell-align-right">
						<f:link.action action="removeItem" controller="Cart" arguments="{product: item.product}" class="btn btn-danger">
							<i class="fa fa-trash" aria-hidden="true"></i>
							<f:translate id="removeFromCart"/>
						</f:link.action>
					</td>
				</f:if>
			</tr>
		</f:for>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="3">
				<f:translate id="total"/>
			</td>
			<td class="tableCell-align-right">
				<f:format.currency decimalSeparator="." currencySign="CHF">
					<one50:totalCartOrderPrice items="{cartItems}"/>
				</f:format.currency>
			</td>
			<f:if condition="{allowItemRemoval}">
				<td></td>
			</f:if>
		</tr>
		</tfoot>
	</table>
</div>