<f:layout name="WithoutPageTitle" />

<f:section name="Title">
	<f:translate id="login"/>
</f:section>

<f:section name="Content">

    <f:form action="authenticate" method="post">
        <fieldset>
            <div class="form-group row">
                <label for="username" class="col-md-3 col-lg-2 form-control-label">
                    <f:translate id="username"/>
                </label>
                <div class="col-md-9 col-lg-10">
                    <input type="text" id="username" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-md-3 col-lg-2 form-control-label">
                    <f:translate id="password"/>
                </label>
                <div class="col-md-9 col-lg-10">
                    <input type="password" id="password" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]" class="form-control" />
                </div>
            </div>
        </fieldset>

        <div class="one50-buttonContainer">
            <f:form.submit value="{f:translate(id: 'login')}" class="btn btn-primary"/>
        </div>
    </f:form>

	<p class="one50-registrationHint">
		<f:link.action action="register" controller="User">
			<small>
				<f:translate id="registerIfNoAccount"/>
			</small>
		</f:link.action>
	</p>

</f:section>