<f:layout name="Default" />

<f:section name="Title">
    {user.firstName} {user.lastName}
</f:section>

<f:section name="PageTitle">
	<h1>{user.firstName} {user.lastName}</h1>
</f:section>

<f:section name="Content">

	<div class="one50-userProfileBlock">
		<h2>
			<f:translate id="address" quantity="2"/>
		</h2>

		<f:if condition="{user.addresses -> f:count()} > 0">
			<f:then>
				<div class="row">
					<f:for each="{user.addresses}" as="address">
						<f:render partial="Address/Card" arguments="{address: address, allowEdit: true}"/>
					</f:for>
				</div>
			</f:then>
			<f:else>
				<p>
					<f:translate id="address.noneAvailable"/>
				</p>
			</f:else>
		</f:if>

		<div class="one50-buttonContainer">
			<f:link.action action="newAddress" arguments="{user: user}" class="btn btn-secondary">
				<f:translate id="address.add"/>
			</f:link.action>
		</div>
	</div>

	<div class="one50-userProfileBlock">
		<h2>
			<f:translate id="order" quantity="2"/>
		</h2>

		<f:if condition="{user.orders -> f:count()} > 0">
			<f:then>
				<p>
					<f:translate id="order.count.info" arguments="{0: '{user.orders -> f:count()}'}"/>
				</p>

				<div class="one50-buttonContainer">
					<f:link.action action="index" controller="Order" class="btn btn-secondary">
						<f:translate id="order.showList"/>
					</f:link.action>
				</div>
			</f:then>
			<f:else>
				<p>
					<f:translate id="order.noneAvailable"/>
				</p>
			</f:else>
		</f:if>
	</div>

</f:section>