<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="shop.title"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:if condition="{category}">
			<f:then>
				{f:translate(id: 'category')}: <em>{category.title}</em>
			</f:then>
			<f:else>
				<f:translate id="products.all"/>
			</f:else>
		</f:if>
	</h1>
</f:section>

<f:section name="Content">

	<f:if condition="{products}">
		<f:then>
			<div class="row one50-shop-index">
				<f:for each="{products}" as="product">
					<f:render partial="Shop/ProductCard" arguments="{_all}"/>
				</f:for>
			</div>
		</f:then>
		<f:else>
			<p>
				<f:translate id="noProductsAvailable"/>
			</p>
		</f:else>
	</f:if>

</f:section>