<div class="col-md-6 col-lg-4">
	<div class="card one50-product-card">
		<div class="card-img-wrapper">
			<f:if condition="{product.image}">
				<f:then>
					<div class="card-img-top"
						 style="background-image: url({f:uri.resource(resource: product.image)});"></div>
				</f:then>
				<f:else>
					<div class="card-img-top no-img"></div>
				</f:else>
			</f:if>
		</div>

		<div class="card-block">
			<h3 class="card-title">{product.title}</h3>
			<div class="price-wrapper">
				<p class="price-tag">
					<f:format.currency decimalSeparator="." currencySign="CHF">{product.price}</f:format.currency>
				</p>
			</div>

			<f:form action="addToCart" class="one50-addToCart-form">
				<f:form.hidden name="product" value="{product}"/>
				<f:form.hidden name="category" value="{category}"/>
				<div class="input-group">
					<f:form.textfield type="number" name="quantity" class="form-control one50-quantity-input"
									  value="1"/>
					<span class="input-group-btn">
						<f:form.submit class="btn btn-secondary" value="In den Warenkorb"/>
					</span>
				</div>
			</f:form>
		</div>
	</div>
</div>