<div class="col-sm-4 one50-addressBlock">

	<f:if condition="{selectionName}">
		<f:if condition="{presetAddress}">
			<f:then>
				<f:if condition="{address} == {presetAddress}">
					<f:then>
						<f:form.radio name="{selectionName}" value="{address.identifier}" id="{selectionName}-{addressIndex}"
									  checked="checked"/>
					</f:then>
					<f:else>
						<f:form.radio name="{selectionName}" value="{address.identifier}" id="{selectionName}-{addressIndex}"/>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{addressIndex} == 0">
					<f:then>
						<f:form.radio name="{selectionName}" value="{address.identifier}" id="{selectionName}-{addressIndex}"
									  checked="checked"/>
					</f:then>
					<f:else>
						<f:form.radio name="{selectionName}" value="{address.identifier}" id="{selectionName}-{addressIndex}"/>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</f:if>

	<div class="card card-block">
		<f:if condition="{selectionName}">
			<f:then>
				<label for="{selectionName}-{addressIndex}">
					<span class="card-text">
						{address.street} {address.streetNumber}<br/>
						{address.zip} {address.city}<br/>
						{address.email}<br/>
						{address.phone}
					</span>
				</label>
			</f:then>
			<f:else>
				<p class="card-text">
					{address.street} {address.streetNumber}<br/>
					{address.zip} {address.city}<br/>
					{address.email}<br/>
					{address.phone}
				</p>
			</f:else>
		</f:if>

		<f:if condition="{allowEdit}">
			<div class="one50-buttonContainer one50-noMargin">
				<f:link.action action="editAddress" arguments="{address: address}" class="btn btn-sm btn-secondary">
					<i class="fa fa-pencil" aria-hidden="true"></i>
					<f:translate id="edit"/>
				</f:link.action>

				<f:link.action action="deleteAddress" arguments="{address: address}" class="btn btn-sm btn-danger">
					<i class="fa fa-trash" aria-hidden="true"></i>
					<f:translate id="delete"/>
				</f:link.action>
			</div>
		</f:if>
	</div>
</div>