<div class="modal fade" id="newAddressModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">
					<f:translate id="address.new"/>
				</h4>
			</div>
			<f:form action="createAddress" controller="Cart" object="{address}" objectName="address">
				<div class="modal-body">
					<f:render partial="Address/FormFields" arguments="{user: user}"/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">
						<f:translate id="cancel"/>
					</button>
					<f:form.submit value="{f:translate(id: 'save')}" class="btn btn-primary"/>
				</div>
			</f:form>
		</div>
	</div>
</div>