
<f:layout name="Default" />

<f:section name="Title">
    <f:translate id="cart"/>
</f:section>

<f:section name="PageTitle">
	<h1>
		<f:translate id="cart"/>
	</h1>
</f:section>

<f:section name="Content">

	<f:if condition="{cartItems}">
		<f:then>
			<f:render partial="Cart/Content" arguments="{cartItems: cartItems, allowItemRemoval: true}"/>

			<div class="one50-buttonContainer">
				<f:link.action action="checkout" class="btn btn-primary">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					&nbsp;
					<f:translate id="checkout"/>
				</f:link.action>
			</div>
		</f:then>
		<f:else>
			<p>
				<f:translate id="cart.empty"/>
			</p>
		</f:else>
	</f:if>

</f:section>