
<script type="text/javascript" src="{f:uri.resource(path: 'Tether/js/tether.min.js')}"></script>
<script type="text/javascript" src="{f:uri.resource(path: 'Bootstrap/js/bootstrap.min.js')}"></script>