<f:layout name="Default"/>

<f:section name="Title">
    <f:translate id="shop.title"/>
</f:section>

<f:section name="PageTitle">
    <h1>Administrations-Bereich</h1>
</f:section>

<f:section name="Content">
    <p style="font-weight: bold;">Der Zugang zum Administrations-Bereich ist durch eine zusätzliche Authentifizierung geschützt.</p>

    <p>Geben Sie ins nachfolgende Eingabefeld das Token ein, welches Sie auf Ihrem Smartphone in der TOTP-App ablesen können.</p>

    <f:form action="authenticate" method="post">

        <div class="form-group row">
            <div class="col-md-12">
                <f:form.textfield type="text"
                                  name="__authentication[One50][Shop][Security][Authentication][Token][TOTPToken][totp]"
                                  id="totp"
                                  placeholder="TOKEN"
                                  style="text-align: center;"
                                  class="form-control"/>
            </div>
        </div>

        <f:form.hidden name="__authentication[One50][Shop][Security][Authentication][Token][TOTPToken][accountIdentifier]"
                       value="{accountIdentifier}"/>

        <div class="one50-buttonContainer">
            <f:form.submit value="{f:translate(id: 'Authentifizieren')}" class="btn btn-primary"/>
        </div>

    </f:form>
</f:section>