<f:layout name="Default"/>

<f:section name="Title">
    <f:translate id="shop.title"/>
</f:section>

<f:section name="PageTitle">
    <h1>Anmeldung 2-Faktor-Authentifizierung</h1>
</f:section>

<f:section name="Content">

    <p style="font-weight: bold;">Um die Sicherheit im Administrationsbereich zu erhöhen, ist ein Zugang nur mittels
        Zwei-Faktor-Authentifizierung möglich.</p>

    <p>In diesem E-Shop wird ein zeitbasiertes, einmalig nutzbares Passwort (Token) generiert und bei der Anmeldung in
        den Administrations-Bereich verifiziert. Dieses Verfahren nennt sich TOTP (Timebased One Time Password).</p>

    <p>Nutzen Sie eine beliebige TOTP App auf Ihrem Smartphone, um das Token zu generieren. Scannen Sie dazu den
        untenstehenden QR-Code mit der entsprechenden Smartphone-App ein.</p>

    <div style="text-align: center;">
        <img src="{qrCodeUri}" alt="OTP Provisioning Uri"/>
    </div>

    <p></p>

    <p>Nachdem Sie den One50-Account zu Ihrer TOTP-App hinzugefügt haben, wird ein 6-stelliges, nummerisches Token
        angezeigt. Tippen Sie dieses Token zur Verifizierung in das nachfolgende Eingabefeld ein.</p>

    <f:form action="confirmOtpRegistration" method="POST">

        <div class="form-group row">
            <div class="col-md-12">
                <f:form.textfield type="text"
                                  name="token"
                                  id="totp"
                                  class="form-control"
                                  placeholder="Token..."
                                  style="text-align: center;"/>
            </div>
        </div>

        <div class="one50-buttonContainer">
            <f:form.submit value="{f:translate(id: 'Token verifizieren')}" class="btn btn-primary"/>
        </div>

    </f:form>


</f:section>